@import "~../../common/constants.scss";

.directory-main{
  width: 80%;
  margin: auto;
}

.directory-main .search{
  width: 100%;
  display: block;
  margin-bottom: 20px;
  font-size: 16px;
  height: 40px;
}

.directory-main h3{
  text-align: center;
  font-size: 25px;
  font-family: $normalFont;
  color: $darkGreen;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

.search-container{
  width: 100%;
  margin: auto;
}

.directory-main .fa-search{
  position: absolute;
  font-size: 13px;
  padding: 4px;
  color: $darkGreen;
  margin-top: 9px;
  margin-left: 3px;
}

.directory-main h1{
  text-align: center;
  padding-top: 20px;
}

.directory .profile-photo-avatar, .directory .profile-photo{
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.directory .initials{
  font-size: 25px;
}

.directory .user {
  display: flex;
  background: white;
  border-radius: 15px;
  padding: 20px;
  border: none;
  border-bottom: 2px solid gray;
  width: 100%;
  font-family: $normalFont;
  font-size: 18px;
  cursor: pointer;
  transition: .5s;
  align-items: center;
}

.directory .name{
  padding-left: 20px;
}

.directory .user:hover, .directory .user:focus{
  background: $beige;
}

.directory .user:hover .name, .directory .user:focus .name{
  color: $darkGreen;
}

@media(min-width:900px){
  .directory{
    width: 60%;
    margin: auto;
  }

  .directory .user{
    font-size: 23px;
  }

  .directory-main .search{
    width: 100%;
    margin: 20px 0;
  }

  .search-container{
    width: 60%;
    margin: auto;
  }
}