
.chat-form {
  position: absolute;
    bottom: 10px;
    padding-left: 10px;
    display: flex;
    width: 70%;
}
.type_msg {
  width: 100%
}
html, body, input {
  font-family: Georgia, Tahoma, Arial, sans-serif;
  margin: 0;
  padding: 0;
 }

 .type_msg {
  border: 2px solid #eb5424;
  border-radius: 5px;
  padding: 5px;
  width: 75%;
 }
 
 form input[type='submit'] {
  background: #eb5424;
  border: none;
  border-radius: 5px;
  color: #FFF;
  cursor: pointer;
  font-weight: bold;
  padding: 7px 5px;
  width: 19%;
 }
 #history {
  background: #FFF;
  border: 2px solid #eb5424;
  height: 550px;
 }