.messages{
  display: flex;
  flex-direction: column;
}

.message{
  width: 50%;
}

.mine{
  background: lightblue;
  align-self: flex-end;
}

.theirs{
  background: pink;
  float: left;
  align-self: flex-start;
}