@import "~../common/colors.scss";
/*General*/

.crime{
  background: #e36060;
}

.personal{
  background: #47b5c6;
}

.event{
  background: #c093d7;
}

.other{
  background: #f3c59c;
}

.border-Crime{
  // border: 1px solid #e36060;
  box-shadow: 0 0 4px #e36060;
}

.border-Personal{
  box-shadow: 0 0 4px #47b5c6;
  // border: 1px solid #47b5c6;
}

.border-Event{
  box-shadow: 0 0 4px #c093d7;
  // border: 1px solid #c093d7;
}

.border-Other{
  box-shadow: 0 0 4px #f3c59c;
  // border: 1px solid #f3c59c;
}

/*Post*/
.entire-thread{
  width: 80%;
  margin: 20px auto 0px auto;
  // box-shadow: 0 0 4px grey;
  border-radius: 10px;
}

.post{
  background: white;
  border-radius: 5px;
}

.comments-list{
  background: $gray;
}

.create-post-textarea{
  width:100%;
  height: 80px;
  margin: auto;
  display: block;
  border: none;
  outline: 0;
  resize: none;
  border-radius: 10px;
  padding: 15px;
}

.options button {
  background: $darkGreen;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  padding: 7px;
  margin-left: 2px
}

.profile-photo{
width:50px;
height: 50px;
border-radius: 50%;
}

.profile-photo-avatar, .comment-profile-photo-avatar{
border-radius: 50%;
color: white;
background: black;
display: flex;
}

.profile-photo-avatar{
width:50px;
height: 50px;
font-size: 20px;
}

.comment-profile-photo-avatar{
width:35px;
height: 35px;
font-size: 15px;
}

.initials{
width: fit-content;
margin: auto;
}

.comment-profile-photo{
width:35px;
height: 35px;
border-radius: 50%;
}

.post-user-name{
display: inline;
}

.comment-user-name{
display:inline;
vertical-align: top;
}

.comment-content{
display: inline-block;
padding: 10px;
background: white;
border-radius: 16px;
margin-left: 5px;
}

.post span{
  display: inline;
  padding: 5px;
  border-radius: 5px;
}

.top-post{
display: flex;
justify-content: space-between;
}

.post-info, .comment-info, .comment-form{
  display:flex;
  padding: 10px;
  border-radius: 5px;
}

.post-content{
padding: 0px 12px 10px 12px;
}

.name-and-date{
padding: 6px 0px 0px 6px;
}

.comment-textarea{
resize: none;
outline: 0;
border: 1px solid #a7a5a5;
border-radius: 16px;
width: 80%;
padding: 10px;
margin-left: 5px;
}

/*Create Post*/
.post-form{
  background: white;
  width: 80%;
  margin: auto;
  box-shadow: 0 0 4px grey;
  border-radius: 10px;
}

.modal .post-form{
  margin-left: 200px;
  margin-top: 60px;
}

input[type="radio"] { 
  position: fixed;
  opacity: 0;
}

.post-form label, .post-form button{
  display: inline-block;
  border-radius: 5px;
  padding: 7px;
  margin-right: 10px;
  cursor: pointer;
  opacity:.7;
  border: 2px solid transparent;
  font-family: Play;
  font-size: 15px;
  transition: .5s;
}

.post-form button{
  background: $darkGreen;
  color: $beige;
  margin-right: 0px;
}

.post-form label:hover, .post-form button:hover, .post-form label:focus, .post-form button:focus {
  opacity: 1;
}

.bottom-options{
  background: $gray;
  display: flex;
  justify-content: space-between;
}


.post-form label.border{
  font-weight: bold;
  opacity: 1;
}

label.image-input input[type="file"] {
  position:absolute;
  top: -1000px;
}

.image-input {
  padding: 2px 5px;
  display: inline-block;
  color: $darkGreen;
}

.image-input span{
  color: $darkGreen;

}
