.sidebar{
  position: absolute;
  top: 60px;
  background-color: rgb(56, 98, 146);
  height: 100vh;
  position: fixed;
  width: 200px;
  padding: 10px;
}

.sidebar button{
  display: block;
  color: black;
  background: none;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  padding: 20px;
}

.sidebar button:hover, .sidebar button:focus{
  outline: 0;
  color: white
}