.sidebar .content{
  display: block;
  color: black;
  background: none;
  border: none;
  font-weight: bold;
  font-size: 1rem;
  cursor: pointer;
  padding: 20px;
  text-decoration: none;
}

.sidebar .content:hover, .sidebar .content:focus{
  outline: 0;
  color: white
}

.open-sidebar{
  position: relative;
  z-index: 1000;
}