@import url('https://fonts.googleapis.com/css?family=Play');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

$darkGreen: #06311f;
$beige: rgb(237, 236, 217);
$darkRed: rgb(110, 28, 28);
$lightGray: #f6f6f8;
$appFont: Play;
$normalFont: 'Open Sans';