.eyes-left, .eyes-right{
  margin:auto;
  display: block;
  width: 300px;
  height: 200px;
}

.eyes-left {
  transform: scaleX(-1);
}

.eyes-right {
  transform: scaleX(1);
}

/* @-webkit-keyframes flip {
  100% {transform: scaleX(1);}
}

@keyframes flip {
  100% {transform: scaleX(1);}
} */