.main-navbar{
  background-color: #124f36;
  position: fixed;
  width:100%;
  z-index: 1000;
}

.right{
  float:right;
  padding-right: 10px;
}

.icon.right:hover, .icon.right:focus{
  cursor:pointer;
}

.link, .logo{
  color: rgb(249, 249, 237);
  text-decoration: none;
  padding: 20px 10px;
  text-align: center;
  transition: background-color .5s;
  cursor:pointer;
  background-color: transparent;
  border: none;
  font-family: Montserrat;
  font-size: 18px;
  display: inline-block;
}

.logo{
  text-align:left;
  font-weight: 700;
  margin-left:50px;
}

.link:hover, .link:focus {
  color: black;
}

