.main-navbar{
  background-color: black;
  position: fixed;
  width:100%;
  z-index: 1000;
}

.main-navbar a, .main-navbar #logout{
  padding:20px;
}

#logout{
  width:100%;
}

.icon.right{
  float:right;
  background-color: transparent;
  border: none;
  font-size: 20px;
  margin-top: 20px;
  margin-right: 20px;
}

.icon.right:hover, .icon.right:focus{
  cursor:pointer;
}

.link, .logo{
  color: white;
  text-decoration: none;
  padding: 20px;
  text-align: center;
  transition: background-color .5s;
  cursor:pointer;
  background-color: transparent;
  border: none;
  font-family: Montserrat;
  font-size: 18px;
}

.logo{
  text-align:left;
  display: inline-block;
  font-weight: 700;
}

.logo:hover:after, .logo:focus:after, .logo:hover:before, .logo:focus:before{
  opacity:1;
  transition: .5s;
}

.link:hover, .link:focus {
  color: #333;
  background-color: #fff;
}

.show.link{
  display:block;
}

.dontshow.link{
  display: none;
}

.paw-logo{
  width: 20px;
  height: 20px;
  position: absolute;
  left: 90px;
  top: 17px;
}

.logo span{
  padding-left: 2px;
}

.icon{
  color:white;
  display:inline;
}

@media (min-width: 900px){
  .main-navbar .link{
    display: inline-block;
  }

  .show.link, .dontshow.link{
    display: inline-block;
  }

  #logout{
    width:auto;
  }

  .right{
    float:right;
  }

  .icon{
    display:none;
  }
}