.form-error{
  color: red;
}

.landing-page{
  background-color: rgb(56, 98, 146);
  height: 100vh;
}

.landing-page form{
  background: rgb(224, 223, 192);
  padding: 20px;
}

.landing-page form{
  width: 320px;
  margin: 30px auto;
}
