@import "~../common/constants.scss";

.landing-page {
  font-family: $appFont;
}

.landing-page main{
  padding-top: 55px;
}

.form-section{
  margin: 50px 20px 100px 20px;
}

.parallax{
  background-image: url("../../img/neighborhood.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 1200px; 
  position: relative;

  /* Add the blur effect */
filter: blur(5px);
  -webkit-filter: blur(5px);
}

.intro{
  position: absolute;
  top:0;
  margin: auto;
  width: 100%;
  background-color:rgba(1,1,1,.4);
  padding-top: 60px;
}

.intro h1{
  color: $beige;
}

.landing-page form{
  background: $beige;
  padding: 20px 10px;
  font-size: 20px;
  width: 100%;
  margin: 40px 0;
  color: $darkGreen;
}

.landing-page form h2{
  text-align: center;
}

.landing-page label{
  flex:.5;
  padding: 5px;
  font-size: 15px;
}

.landing-page input {
  border-radius: 5px;
  border: 2px solid $darkGreen;
  background: $beige;
  flex: 1;
  font-size: 16px;
  padding: 5px;
  color: $darkGreen;
}

.landing-page input:focus{
  outline: 0;
  transition: .5s;
  background: white;
}

.landing-page .form-input{
  display: flex;
  width: 100%;
  margin: 20px auto;
  align-items: center;
  font-family: $normalFont;
}

.landing-page .submit{
  width: 100px;
  background: $darkGreen;
  color: $beige;
  font-size: 20px;
  border: 2px solid transparent;
  padding: 7px;
  transition: ease-in-out .5s;
  margin: auto;
  display: block;
  font-family: $appFont;
}

.landing-page .submit:hover, .landing-page .submit:focus{
  cursor: pointer;
  background: $beige;
  color: $darkGreen;
  border: 2px solid $darkGreen;
}

.landing-page .link-to-form{
  text-decoration: none;
  font-weight: bold;
  color: $darkGreen;
  background: none;
  border: 0;
  outline: 0;
  font-size: 18px;
  cursor: pointer;
}

.landing-page .link-to-form:hover, .landing-page .link-to-form:focus{
  text-decoration: underline;
}

.landing-page .bottom-text{
  text-align: center;
  padding-top: 10px;
  font-size: 18px;
  font-family: $normalFont;
}

.landing-page form input{
  font-size: 16px;
  height: fit-content;
}

.landing-page h1{
  margin: 50px 10px 30px 10px;
  text-align: center;
  font-size: 40px;
}

.landing-page .upload-photo{
  width: 270px;
  margin:auto;
  margin-bottom: 20px;
  border: 2px solid transparent;
  transition: .5s;
  display: block;
  padding:  5px;
}

.landing-page .upload-photo:hover, .landing-page .upload-photo:focus{
  border: 2px solid $darkGreen;
}

@media(min-width:400px){
  .landing-page label{
    font-size: 20px;
  }

  .landing-page form{
    background: $beige;
    padding: 20px 40px;
  }
}

@media(min-width:600px){
  .form-section{
    width: 450px;
    margin: 50px auto 200px auto;
  }

  .landing-page h1{
    font-size: 60px;
  }
}

