@import "~../common/colors.scss";

.settings button{
  background: $darkGreen;
  border: none;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  padding: 7px;
  margin-top: 7px;
  margin-bottom: 10px
}

.settings button:hover {
  font-weight: bold;
  box-shadow: 0 2px 6px 0 rgba(0,0,0,0.24), 0 2px 6px 0 rgba(0,0,0,0.19);
}